cabal-dev
cabal.sandbox.config
.cabal-sandbox
dist
*.swp
*.swo
*.hi
*.o
main
test/main
test/runTest
tags
*.chi
*.chs.h
System/NanoMsg/C/NanoMsg.hs
System/NanoMsg/C/NanoMsgStruct.hs
example/clonecli1
example/clonecli2
example/clonesrv1
example/clonesrv2
example/clonetest*

